In [15]:
import pandas as pd
from IPython.display import Image
import numpy as np
import cvxopt
import cvxopt.solvers
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder

In [36]:
train = pd.read_csv('/Users/grigoriipogorelov/Desktop/train.csv')
train['Date']  = pd.to_datetime(train['Dates'], errors='coerce')
train['Year'] = train['Date'].dt.year
train['Month'] = train['Date'].dt.month
train['WeekOfYear'] = train['Date'].dt.weekofyear
train['Day'] = train['Date'].dt.day
train['Time'] = train['Date'].dt.time
train['Hour'] = train['Date'].dt.hour
train = train.drop(['Dates','Date','Time','Resolution','Descript','Address'], axis=1)

In [27]:
train.head()

,Category,DayOfWeek,PdDistrict,X,Y,Year,Month,WeekOfYear,Day,Hour
0,WARRANTS,Wednesday,NORTHERN,-122.425892,37.774599,2015,5,20,13,23
1,OTHER OFFENSES,Wednesday,NORTHERN,-122.425892,37.774599,2015,5,20,13,23
2,OTHER OFFENSES,Wednesday,NORTHERN,-122.424363,37.800414,2015,5,20,13,23
3,LARCENY/THEFT,Wednesday,NORTHERN,-122.426995,37.800873,2015,5,20,13,23
4,LARCENY/THEFT,Wednesday,PARK,-122.438738,37.771541,2015,5,20,13,23

In [37]:
train.PdDistrict.unique()

array(['NORTHERN', 'PARK', 'INGLESIDE', 'BAYVIEW', 'RICHMOND', 'CENTRAL',
       'TARAVAL', 'TENDERLOIN', 'MISSION', 'SOUTHERN'], dtype=object)

In [38]:
train['DayOfWeek'] = train['DayOfWeek'].astype('category')
train['PdDistrict'] = train['PdDistrict'].astype('category')
train['Year'] = train['Year'].astype('category')

cat_columns = train.select_dtypes(['category']).columns
train[cat_columns] = train[cat_columns].apply(lambda x: x.cat.codes)

In [39]:
train.head()

,Category,DayOfWeek,PdDistrict,X,Y,Year,Month,WeekOfYear,Day,Hour
0,WARRANTS,6,4,-122.425892,37.774599,12,5,20,13,23
1,OTHER OFFENSES,6,4,-122.425892,37.774599,12,5,20,13,23
2,OTHER OFFENSES,6,4,-122.424363,37.800414,12,5,20,13,23
3,LARCENY/THEFT,6,4,-122.426995,37.800873,12,5,20,13,23
4,LARCENY/THEFT,6,5,-122.438738,37.771541,12,5,20,13,23

### 'Assault', 'Robbery', and 'Sex Offences Forcible' categories. Let's call them 'Violent'
![](./img/img1.jpeg)
![](./img/img2.jpeg)
![](./img/img3.jpeg)
![](./img/img4.jpeg)
![](./img/img5.jpeg)
![](./img/img6.jpeg)

### This time, taking into account all the categories of crime
![](./img/img7.jpeg)

### добавить адрес
### как-то разбить Address, чтоб было меньше чем 23000 уникальных эл-ов
### если убрать Category, то множество строк будут одинаковыми, как бороться?
### можно добавить polynomial features от scikit